PORT=3000
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Auth.js v5
AUTH_URL=http://localhost:3000
# AUTH_SECRET=
# AUTH_GOOGLE_ID=
# AUTH_GOOGLE_SECRET=
AUTH_TRUST_HOST=true # This is necessary for the local development.
AUTH_DISABLED=false

# Legacy aliases are still accepted by the template code:
# PROJECT_PRODUCTION_URL=
# NEXTAUTH_URL=
NEXTAUTH_SECRET=5gIEEQCHbA73SpylgkvVBX72k1x3wEOsvXKIos6ajXw= #Generate a random secret with: openssl rand -base64 32

# This credentials are public published from Rising Corporation for the Google OAuth2.0 authentication local development.
GOOGLE_CLIENT_ID=603158603730-f5rnolm4vnmgocb68msogofd9ujf61t9.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
